.home__techstack {
  display: flex;
  flex-direction: column;
  padding: 15rem 1rem 10rem 1rem;
  width: 100%;
  gap: 20rem;
  overflow: hidden;
}

.stack-entry {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 5rem;
  padding: 6rem 1rem;
}

.techstack__container {
  transform: translateX(-140px);
  will-change: transform;
}

.tech-stack-banner {
  transform-style: preserve-3d;
  transform: translate3d(
      calc(var(--x, 0) * 1px),
      calc(var(--y, 0) * 1px),
      calc(var(--z, 0) * 1px)
    )
    rotateX(calc(var(--rotateX, 0) * 1deg))
    rotateZ(calc(var(--rotateZ, 0) * 1deg));
  /* background: red; */
}

.tech-stack-banner:hover .tech-stack__bg-two {
  transform: translate3d(100px, 100px, -50px) scale(1.8);
  box-shadow: inset 0px 0px 20px 5px rgb(0 255 207 / 11%),
    0px 0px 20px 5px rgb(0 255 207 / 11%);
  /* background: yellow; */
  opacity: 1;
  border: 1px dashed var(--main-color);
}

.tech-stack__bg,
.tech-stack__bg-two {
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scale(1.6);
  box-shadow: inset 0px 0px 20px -10px rgba(0, 255, 208, 1);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(4 247 197 / 18%) 45%,
    rgb(12 177 145 / 14%) 60%,
    #00000000 100%
  );
  border-radius: 50px;
  border: 1px dashed var(--main-color);

  opacity: 1;
  transform: translate3d(100px, 100px, 0px) scale(1.6);
  will-change: transform, opacity;
}
.tech-stack__bg {
  z-index: -1;
}
.tech-stack__bg-two {
  background: #00000031;
  opacity: 0.6;
  z-index: -3;
  border: 1px dashed var(--main-color-lite);
  transition: 0.4s ease-in-out all;
  transform: translate3d(100px, 100px, -80px) scale(1.6);
}
.banner-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-bottom: 10rem; */
  position: relative;
  width: fit-content;
  z-index: 1;
  /* opacity: 0; */
}

.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}
.orbit__container {
  position: relative;
  height: 100%;
  width: 100%;
  /* transform: rotate(344deg); */
}

.orbit__container-two {
  /* transform: rotate(344deg); */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.next__icon,
.node__icon,
.react__icon,
.express__icon {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 10rem;
  height: 10rem;
  /* z-index: 10; */
}

.next__icon {
  right: -150%;
  max-width: 8rem;
  max-height: 8rem;
}

.node__icon {
  left: -220%;
}

.react__icon {
  right: -220%;
}

.express__icon {
  left: -150%;
  max-width: 8rem;
  max-height: 8rem;
}
.banner-icons .js__icon {
  /* width: 25rem; */
  width: clamp(20rem, 20vw, 30rem);
  /* width: 100%; */
  height: 100%;
}

.about-icon {
  border-radius: 50%;
  display: flex;
  padding: 1rem;
  background: linear-gradient(240deg, #eeecec13, #f7f7f71f, #8f8f8f44);
  z-index: 10;
  box-shadow: inset 0px 0px 20px -10px var(--main-color-lite);
}
.about-icon > svg {
  width: 100%;
  height: 100%;
  fill: #dbdbdb;
  border-radius: inherit;
}

.banner-icons .js__icon svg {
  fill: #ffe573;
}

.banner-icons .js__icon span {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, #0c0c0c80, rgb(71, 71, 71));
  z-index: -2;
  border-radius: inherit;
}

.banner-icons > .js__icon > span:nth-child(4) {
  background: radial-gradient(
    circle,
    rgb(121, 121, 121) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: -1;
}

/* .banner-icons > *:not(:nth-child(3)) {
  max-width: 8rem;
  max-height: 8rem;
} */

/* .banner-icons > *:nth-child(3) {
  position: relative;
  padding: 2rem;
} */
/* .banner-icons > *:nth-child(3) svg {
  fill: #ffb006;
  z-index: 3;
} */

/* .banner-icons > *:nth-child(3) > span:nth-child(3) {
    background: linear-gradient(240deg, transparent, #10be53);
  } */

/* .about__title {
  font-size: var(--fs-3xl);
  font-family: var(--font-2);
  text-align: center;
  text-shadow: 0px 5px 2px #ffae0079;

  margin: 8rem 0;
} */

.home__techstack-text {
  max-width: 100%;
}
.home__techstack-text h1 {
  margin-bottom: 1rem;
  color: #e4e4e4;
  text-shadow: 0px 0px 13px #aaaaaab0, -1px 2px 20px #000000;
  font-family: var(--font-5);
  text-transform: uppercase;
  font-size: 4rem;
  max-width: 60rem;
  text-shadow: 0px 6px 2px #ffae0079;
  font-size: 4rem;
  font-family: var(--font-2);
  color: #e4e4e4;
  text-shadow: 0px 0px 13px #aaaaaab0, -1px 2px 20px #000000;
  font-family: var(--font-5);
  text-transform: uppercase;
  max-width: 60rem;
  line-height: 1.6;
}

.stack {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /* width: 100%; */
}

.stack-text__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 30rem;
  width: 100%;
  padding: 2rem;
}

.stack-text {
  font-size: 1.6rem;
  /* font-weight: 700; */
  font-family: var(--font-1);
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #8d8d8d;

  text-shadow: 0px 0px 13px #aaaaaab0, -1px 2px 20px #000000;
  width: 100%;
  /* padding: 10rem 1rem 2rem; */
  max-width: 60rem;
  line-height: 2;
  /* text-align: center; */
}

.stack-languages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.tech-stack__bg-two g rect:hover {
  opacity: 1;
}

.stacks-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.s-container {
  overflow: hidden;
  position: relative;
}

.s-timeline {
  display: flex;
  gap: 5rem;
  padding: 1rem;
}
.s-item {
  /* max-width: 10rem; */
  display: flex;
  gap: 1rem;
  align-items: center;
  min-width: max-content;
  background: rgb(12 12 12);
  box-shadow: 0px 0px 5px 0px rgb(255 255 255 / 30%);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.s-item:hover {
  box-shadow: 0px 2px 10px 0px rgb(18, 66, 73);
  border-color: var(--main-color-extra-lite);
  background: rgb(0 25 30);
  filter: none;
  color: var(--main-color);
}

.s-item-img__container {
  /* position: relative; */
  width: 3.5rem;
  height: 2.5rem;
  padding: 0.2rem;
}
.s-item img {
  border-radius: inherit;
  filter: grayscale(1) brightness(1.2);
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
}
.s-item:hover img {
  filter: none;
  transform: scale(1.1) translateY(-5px);
}

.s-container::before,
.s-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 120px;
  z-index: 1;
  background-color: #000000;
  background: linear-gradient(to right, rgb(0, 0, 0) 13%, transparent 87%);
}

.s-container::after {
  background: linear-gradient(to left, rgb(0, 0, 0) 13%, transparent 87%);
  right: 0;
  left: unset;
}

@media (max-width: 1280px) {
  /* desktops ↓ */
}
@media (max-width: 1100px) {
  .stack-entry {
    flex-direction: column-reverse;
    gap: 15rem;
  }
  .techstack__container {
    transform: translateX(0px);
    will-change: transform;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
  .stack-entry {
    flex-direction: column-reverse;
    gap: 15rem;
    /* overflow: hidden; */
  }

  .next__icon,
  .node__icon,
  .react__icon,
  .express__icon {
    width: 5rem;
    height: 5rem;
  }

  .next__icon {
    right: -150%;
    max-width: 5rem;
    max-height: 5rem;
  }

  .node__icon {
    left: -200%;
  }

  .react__icon {
    right: -200%;
  }

  .express__icon {
    left: -150%;
    max-width: 5rem;
    max-height: 5rem;
  }

  .s-timeline {
    gap: 2rem;
  }
}
@media (max-width: 360px) {
  .s-timeline {
    gap: 1rem;
  }
}
