.card__container {
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 25px;
  width: clamp(90%, calc(100% - 2rem), 100%);
  cursor: pointer;
  box-shadow: rgba(53, 53, 53, 0.05) 0px 0px 0px 1px,
    rgba(119, 119, 119, 0.226) 0px 0px 0px 1px inset;
  margin: 1rem auto;
  transform-style: preserve-3d;
  /* Default CSS custom properties */
  --mouseX: 250px;
  --mouseY: 200px;
  --rotateX: 0deg;
  --rotateY: 0deg;
  --project-color: #0000;

  background: radial-gradient(
    circle at var(--mouseX) var(--mouseY),
    var(--project-color) 10%,
    rgba(0, 0, 0, 1) 100%
  );
  transform: perspective(9000px) rotateX(var(--rotateX)) rotateY(var(--rotateY));

  /* Smooth transitions */
  transition: all 0.4s ease-out;
}

.card__container:not(:hover) {
  /* Fallback gradient when not hovering */
  background: linear-gradient(
    to bottom,
    var(--bg-color-2, #333) 0%,
    rgb(31, 31, 31) 50%,
    #000000 100%
  );
}

.card__link {
  position: absolute;
  /* left: 0; */
  /* right: 0; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin: auto; */
  z-index: 1;
  background: linear-gradient(
    to bottom,
    var(--bg-color-2) 0%,
    rgb(31, 31, 31) 50%,
    #000000 100%
  );
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
  font-size: var(--fs-xs);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 1px dashed;
  font-family: var(--font-2);
  text-transform: capitalize;
  margin: 2rem 1rem;
}

.card__container:hover .img__container {
  transform: perspective(5000px) rotateY(var(--rotateX));
}

.card__container:hover .card__content {
  background: radial-gradient(
    circle at var(--mouseX) var(--mouseY),
    var(--project-color) 10%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* initial={{
            background: `radial-gradient(circle at ${mouseInitialPosition.x}px ${mouseInitialPosition.y}px, rgb(49 49 49 / 20%) 10%, rgba(0, 0, 0, 1) 100%)`,
          }}
          animate={{
            background: isHovering
              ? `radial-gradient(circle at ${mousePosition.x}px ${
                  mousePosition.y
                }px, ${
                  project.color || "rgb(49 49 49 / 20%)"
                } 10%, rgba(0, 0, 0, 1) 100%)`
              : `radial-gradient(circle at ${mouseInitialPosition.x}px ${mouseInitialPosition.y}px, rgb(49 49 49 / 20%) 10%, rgba(0, 0, 0, 1) 100%)`,
          }}
 */

.card__container:hover .card__icon {
  transform: rotate(45deg);
}

.card__container:hover .card__content::after,
.card__container:hover .card__container::after {
  height: 3px;
}
.card__container .card__type {
  position: absolute;
  top: -10px;
  right: 5%;
  padding: 1rem;
  text-transform: uppercase;
  font-family: var(--font-2);
  color: var(--main-color);
  background: linear-gradient(
    90deg,
    #c0c0c0,
    #e6e6e6,
    #c0c0c0
  ); /* Silver gradient */
  -webkit-background-clip: text; /* Clipping background to text */
  -webkit-text-fill-color: transparent; /* Making text transparent to show the gradient */
  font-weight: bold; /* Optional: Enhances the look */
}
.card__content {
  position: relative;
  /* background: var(--bg-color-3); */
  background: radial-gradient(circle, var(--bg-color-3) 0%, rgb(0, 0, 0) 100%);
  padding: 2rem 2rem 0 2rem;
  border: 1px solid rgba(83, 83, 83, 0.658);
  border-radius: 25px;
}
.card__content::after,
.card__container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 90%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 01),
    rgba(255, 255, 255, 0)
  );
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.5);
}

.card__content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.card__content header h1 {
  color: #e4e4e4; /* Silver */
  text-shadow: 0px 0px 5px #aaa, 0 0 2px #fff; /* Adds a metallic glow effect */
  text-shadow: 0px 0px 13px #aaaaaab0, -1px 2px 20px #000000;
  font-weight: bold; /* Optional: Enhances the look */
  font-family: var(--font-5);
  text-transform: uppercase;
  font-size: var(--fs-2xl);
  padding: 1rem;
}

.card__content header .card__description {
  /* max-width: 80%; */
  padding: 1rem;
  color: var(--text-color);
}

.card__content header > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__content .card__stack {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 4rem;
}

.card__content .img__container {
  display: flex;
  overflow: hidden;
  position: relative;
  /* border-radius: 15px 15px 0 0; */
  /* padding-inline: 2rem; */
  /* max-height: 50rem; */
  /* min-height: 60rem; */

  transition: transform 0.6s ease-out;
}
.card__content .img__container img {
  border-radius: inherit;
  width: 90%;
  margin: 0 auto;
}
.card__content .img__container img:nth-child(2) {
  position: absolute;
  max-width: 25rem;
  right: 0;
  bottom: 0;
}
.card__icon {
  transition: all 0.3s ease-in-out;
  color: var(--main-color);
  font-size: var(--fs-xl);
  padding: 2rem;
}

@media (max-width: 1280px) {
  /* desktops ↓ */
}
@media (max-width: 1024px) {
  /* laptops/tablets ↓ */
}
@media (max-width: 768px) {
  .card__content .img__container img {
    width: 100%;
  }

  .card__content .img__container img:nth-child(2) {
    max-width: 15rem;
  }

  .card__content .card__stack {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .card__link {
    display: none;
  }
  .card__icon {
    display: none;
  }
  .card__content {
    padding: 4rem 1rem 0 1rem;
  }

  .card__content header h1 {
    font-size: 3rem;
    text-align: center;
  }
  .card__content .img__container {
    max-width: 40rem;
  }
  .card__content .img__container img:nth-child(2) {
    max-width: 8rem;
  }
}
@media (max-width: 360px) {
  .card__content .img__container {
    /* display: none; */
  }
  .card__content .img__container {
    max-width: 40rem;
  }
  .card__content .img__container img:nth-child(2) {
    max-width: 6rem;
  }
}
