.home {
  background-position: right top;
  background-repeat: no-repeat;
  padding: 0rem;
  position: relative;
}
.home .bg {
  position: absolute;
  bottom: 0;
  /* left: -20%; */
  height: 100%;
  width: 100%;
  background: linear-gradient(
    108deg,
    rgb(64 0 255) 5.73%,
    rgba(0, 174, 255, 0.481) 15.74%,
    rgba(162, 5, 94, 0.3) 60.49%
  );
  filter: blur(150px);
  z-index: -1;
}

.home__content {
  display: flex;
  position: relative;
  padding-top: 1rem;
}
.home__social {
  grid-area: home__social;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  transform: translateX("-4rem");
}
.home__data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: home__data;
}

.home__img__container {
  grid-area: home__img__container;
  max-width: 30rem;
  position: relative;
}

.home__img__container-img {
  /* position: absolute; */
  border-radius: 10px;
  z-index: var(--z-tooltip);
  box-shadow: var(--first-color) 2px 2px 0px, var(--first-color-alt) 4px 4px 0px;
}

.home__img-back {
  position: absolute;
  right: 0%;
  top: 25%;
  z-index: -1;
}

.home__title {
  display: block;
  font-size: var(--fs-5xl);
  font-family: var(--font-5);
  font-weight: bold;
  /* line-height: 1; */
  letter-spacing: 10px;
  margin-bottom: 0.5rem;
  background: var(--text-gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 1px #6bdcb4; */
  /* color: transparent; */
}

.home__description {
  margin-bottom: 1rem;
  background-color: rgb(29 181 236 / 4%);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  padding: 2rem;
}

.home__scroll-button {
  margin-top: 1rem;
  color: var(--first-color);
  transition: 0.3s;
}
.home__scroll-button:hover {
  transform: translateY(0.4rem);
}
.home__scroll-mouse {
  font-size: var(--fs-xl);
}
.home__scroll-name {
  font-size: var(--fs-m);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: 0.25rem;
}
.home__scroll-arrow {
  font-size: var(--fs-l);
}
.home__buttons {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 769px) {
  .home__content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 0.9fr 0.1fr 0.1fr;
    gap: 10px 0;
    grid-template-areas:
      "home__data"
      "home__img__container"
      "home__social"
      "home__scroll ";
  }
  .home__content {
    padding-top: 0;
  }
  .home__social {
    flex-direction: row;
    align-items: flex-start;
  }

  .home__img__container {
    max-width: 25rem;
    align-self: center;
    justify-self: center;
  }

  .home__img__container {
    max-width: 28rem;
  }
  .home__img__container-dots {
    display: none;
  }
}

.hero__bg-gradient {
  background-image: linear-gradient(
    180deg,
    #02012b9e 20%,
    hsl(180.47deg 100% 22.32% / 20%) 60%,
    #00000000 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
}
