.hero__section {
  margin: 20rem auto 10rem auto;
  margin: 20vh auto 20vh auto;
  width: 100vw;
  position: relative;
  max-width: 1200px;
  position: relative;
}
.hero__content {
  padding: 2rem;
  width: 100%;
}

.hero__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.hero__intro {
  padding: 4rem 2rem;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}
.hero__subtitle {
  color: var(--second-color);
  font-family: var(--font-4);
  font-weight: 300;
  opacity: 0.7;
  margin-bottom: 1rem;
}
.hero__title {
  font-size: 4rem;
  font-family: var(--font-2);
  color: #e4e4e4;
  text-shadow: 0px 0px 13px #aaaaaab0, -1px 2px 20px #000000;
  font-family: var(--font-5);
  text-transform: uppercase;
  max-width: 60rem;
  line-height: 1.6;
}

.hero__actions {
  display: flex;
  gap: 2rem;
  margin-top: 6rem;
  /* justify-content: center; */
}

/*---------- Hero Image Container ----------*/

.hero__content > img {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.6;
  top: -48%;
}

.hero__image-container {
  max-width: 45rem;
  border-radius: 10px;
  position: relative;
  padding: 1rem 1rem 0 1rem;
  border-radius: 25px;
  background: var(--bg-color-2);
  background: linear-gradient(
    to bottom,
    rgb(0 0 0) 0%,
    rgb(47 47 47) 50%,
    #020606 100%
  );
  box-shadow: rgba(53, 53, 53, 0.05) 0px 0px 0px 1px,
    rgba(119, 119, 119, 0.226) 0px 0px 0px 1px inset;

  transition: transform 0.8s ease-out;
  background: linear-gradient(
    to bottom,
    rgba(53, 35, 210, 0.2) 0%,
    rgba(42, 156, 176, 0.9) 50%,
    #0f8a7534 100%
  );
}
.hero__image-container div:nth-child(1) {
  display: flex;
  position: relative;
  border-radius: inherit;
  overflow: hidden;

  /* border: 1px solid rgb(0, 247, 255); */
}
div.hero__image-container > div:nth-child(1) > div {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.226) 0px 0px 0px 1px inset;
  /* padding: 10rem; */
  /* background-color: rgba(31, 31, 31, 0.295); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  content: "";
  height: 95%;
  width: 95%;
  /* margin-top: 1.5rem; */
  /* margin: 5em; */
  border-radius: inherit;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 30px 30px;
  box-shadow: rgb(33 90 97 / 15%) 0px 0px 30px 40px;
}

.hero__image-container img {
  border-radius: 30px 30px 5px 5px;
  transition: all 0.2s ease-out;
}

.hero__image-container:hover img {
  transform: scale(1.2) rotate(5deg) translateY(-1rem);
}

.hero__social {
  gap: 2rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
}

.hero__svg-container {
  /* margin: 0 auto; */
  /* margin-top: 10rem; */
  padding: 12rem;
}

.hero__bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30rem;
  z-index: -1;
  background: rgb(174, 218, 238);
  background: radial-gradient(
    circle,
    rgba(2, 120, 136, 0.2) 0%,
    rgba(0, 13, 27, 0.282) 100%
  );
  filter: blur(60px);
  z-index: -2;
  /* transform: rotate3d(1, 1, 1, 45deg); */
  /* border-radius: 50px; */
}

.bg {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 70%;
  width: 70%;
  background: linear-gradient(
    108deg,
    rgba(64, 0, 255, 1) 5.73%,
    rgba(0, 174, 255, 1) 50.74%,
    rgba(5, 99, 162, 1) 60.49%
  );
  background: linear-gradient(
    108deg,
    rgb(19, 233, 255) 5.73%,
    rgb(111, 111, 111) 50.74%,
    rgb(19, 67, 208) 60.49%
  );
  filter: blur(150px);
  z-index: -1;
  border-radius: 50%;
  opacity: 0.1;
}

/* background-image: repeating-linear-gradient(-45deg, transparent, transparent 18px, oklch(25% 0.006 234 / 1) 18px, oklch(0.31 0 0) 19px); */

/* <svg height="100%" width="1" fill="none" aria-hidden="true"><line y1="0" y2="100%" x1="0.5" x2="0.5" class="stroke-slate-4" stroke-width="1" stroke-dasharray="9 5" vector-effect="non-scaling-stroke"></line></svg> */

.timeline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin: auto;
  margin-top: 10rem;
}

.timeline-title {
  text-align: center;
  font-family: var(--font-7);
  font-weight: 200;
  font-size: 1.6rem;
  color: #b3aaaa;
  text-shadow: 0px 0px 13px #aaaaaab0, -1px 2px 20px #000000;
}

.timeline-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* padding: 0 4rem; */
  position: relative;
  user-select: none;
}
.timeline-container::before,
.timeline-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  z-index: 1;
  background-color: #000000;
  background: linear-gradient(to right, rgb(1 6 8) 13%, transparent 87%);
  /* backdrop-filter: blur(200px); */
  border-radius: 60px;
}
.timeline-container::after {
  right: 0;
  left: auto;
  background: linear-gradient(to left, rgb(1 6 8) 13%, transparent 87%);
}

.timeline-track {
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* gap: 1rem; */
  padding: 2rem;
  aspect-ratio: 16/2;
}

.timeline-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 250px;
  min-width: 300px;
}

.timeline-icon {
  display: flex;
  max-width: 4rem;
  /* background-color: rgb(22, 22, 22); */
  border-radius: 15px;
  /* padding: 1rem; */
  filter: contrast(0) brightness(160%);
}

.timeline-text {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--font-1);
}
