.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: #6421f2;
  background: radial-gradient(circle, #000000 20%, #ffffff 200%);
  background: radial-gradient(ellipse at top, #00f5ff21 20%, #000000 200%);
  text-transform: capitalize;
  color: rgb(255 255 255);
  font-size: var(--fs-m);
  font-weight: var(--font-bold);
  font-family: var(--font-4);
  border: none;
  border: 1px solid #ffffff18;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: rgb(0 255 198 / 30%) 0px 0px 2px;
  width: max-content;
}
.button:hover {
  /* background: radial-gradient(circle, #031720 60%, #133331 200%); */
  background-color: #03a8c5;

  /* border: 1px solid var(--main-color); */
  box-shadow: rgb(0, 255, 234) 0px 0px 1px 1px;
}
.button:active {
  scale: 0.9;
}

.button svg {
  font-size: 1.4em;
}
