.button-primary {
  display: flex;
  align-items: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    var(--main-color) 5%,
    var(--second-color) 85%
  );
  background-repeat: no-repeat;
  background-position: 0px 100%;
  border-radius: 5px;
  cursor: pointer;
  background-size: 100% 5%;
  transition: all 0.2s ease-in-out;
}

.button-primary:hover,
.button-primary:focus {
  background-size: 100% 20%;
  color: var(--second-color);
}
.button-primary:active {
  transform: scale(0.95);
  background-size: 100% 15%;
}

@media screen and (max-width: 400px) {
  .button-primary {
    padding: 0.2rem;
  }
}
