* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-1);
  font-size: var(--fs-m);
  background: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

p {
  font-family: var(--font-1);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--second-color);
}
img {
  max-width: 100%;
  height: auto;
}

b {
  color: var(--second-color);
}

*:focus-visible {
  outline: 2px dashed var(--main-color);
  outline-offset: 4px;
}

*:focus:not(:focus-visible) {
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }
}
