.home__bg,
.home__bg-grain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home__bg-gradient {
  background-image: linear-gradient(
    198deg,
    rgb(116, 10, 148),
    hsla(0, 0%, 100%, 0)
  );
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 45%;
  z-index: -2;
  opacity: 0.2;
}

.splash .img__container img {
  border-radius: inherit;
  transition: 1s;
}
.splash .img__container:hover img {
  scale: 1.2;
  transform: translateY(-10rem);
}

.self-container {
  display: flex;
  justify-content: space-around;

  /* flex-wrap: wrap; */
  align-items: start;
  gap: 2rem;
  padding: 2rem 4rem;
}
.self-container div {
  flex: 1;
}

.self-container h1 {
  font-size: 5rem;
  font-family: var(--font-5);
  margin-bottom: 3rem;
  text-shadow: 0px 0px 13px #3f0acfb0, -1px 2px 20px #474747;
  text-transform: capitalize;

  /* max-width: 50rem; */
}

.self-container p {
  flex: 1;
}

@media (max-width: 768px) {
  .self-container {
    flex-direction: column;
  }
  .self-container h1 {
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
}
@media (max-width: 360px) {
}
