.vertical-lines-container {
  position: fixed;
  bottom: 0;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  background: transparent; /* Dark background for contrast */
  overflow: hidden; /* Ensure no overflow for animations */
  display: flex;
  justify-content: space-around; /* Distribute lines evenly */
  opacity: 0.1;
  z-index: -1;
}

.vertical-line {
  width: 2px; /* Line thickness */
  height: 100%; /* Full height */
  background: linear-gradient(
    180deg,
    var(--bg-color),
    rgb(0, 183, 255) 90%,
    var(--bg-color)
  ); /* Neon gradient */
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.1), 0 0 30px rgba(0, 0, 255, 0.164); /* Glow effect */
  animation: flicker 1.5s infinite; /* Flickering effect */
}
