.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 1rem auto;
  padding: 0.5rem;
  width: fit-content;
  z-index: var(--z-fixed);
  border-radius: 50vw;
  box-shadow: rgb(0 61 53 / 45%) 0px 0px 15px 0px,
    rgba(127, 139, 141, 0.1) 0px 2px 2px 0px;
  box-shadow: rgb(0 61 53 / 45%) 0px 0px 0px 1px,
    rgb(16 118 135 / 69%) 0px 0px 5px -1px;
  backdrop-filter: blur(8px);
  background-color: rgb(0 0 0 / 30%);
}

.nav {
  display: flex;
  gap: 8rem;
  height: var(--header-height);
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: 900px;
}

.nav__list {
  display: flex;
  gap: 0.5rem;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  /* border: 1px solid red; */
}

.nav__logo span {
  color: white;
  font-size: var(--fs-l);
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0px 0px 8px var(--main-color);
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: var(--fs-s);
  color: var(--title-color);
  text-transform: capitalize;
  transition: 0.1s all ease-in-out;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
}

.nav__link:hover {
  /* color: var(--main-color); */
  font-weight: 600;
  background-color: rgb(5, 35, 36);
}

.nav__link svg {
  font-size: var(--fs-m);
}

.nav__link .line {
  position: absolute;
  bottom: -10%;
}

.nav .active {
  color: var(--main-color);
  font-weight: 600;
}
