.header {
  /* max-width: 650px; */
  width: fit-content;
  position: fixed;
  left: 0;
  right: 0;
  margin: 2rem auto;
  padding: 2rem;
  z-index: var(--z-fixed);
  background-color: rgb(11 76 101 / 25%);
  border-radius: 25px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(25px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav__logo {
  display: flex;
}
.nav__logo img {
  width: 35px;
}
.nav__logo span {
  font-size: var(--fs-l);
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0px 0px 8px var(--main-color);
  align-self: flex-end;
}
.nav__btns {
  display: flex;
  align-items: center;
}
.nav {
  height: var(--header-height);
  display: flex;
  gap: 8rem;
  align-items: center;
  margin: 0 auto;
  max-width: 900px;
  justify-content: space-between;
  padding: 0 2rem;
}

.nav__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: var(--fs-s);
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: capitalize;
  /* padding: 0.5rem 0; */
  position: relative;
}

.nav__link:hover {
  color: var(--main-color);
}

.nav__link .line {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -30%;
  /* width: fit-content; */
  z-index: -1;
  /* display: none; */
}

.nav__data {
  display: flex;
}

.nav__icon {
  /* font-size: var(--fs-l); */
  /* color: var(--main-color); */
  margin-right: 0.3rem;
  /* vertical-align: middle; */
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
}
.nav__logo:hover,
.nav__toggle:hover {
  color: var(--main-color);
}
.nav__toggle {
  font-size: var(--fs-xl);
  cursor: pointer;
}

.nav .active {
  color: var(--main-color);
  /* font-weight: 600; */
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    background-image: var(--body-color);
    border-radius: 2.4rem 2.4rem 0 0;
    /* transition: 0.3s; */
  }
}

.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.7rem;
  bottom: 0.5rem;
  font-size: var(--fs-xl);
  cursor: pointer;
  color: var(--main-color);
}
.nav__close:hover {
  color: var(--second-color);
}
.hide-nav {
  /* transform: translateY(calc(-1 * var(--header-height))); */
  transform: translateY(100%);
}
/* show menu */
.show-menu {
  bottom: 0;
  background-color: rgb(15 27 52);
}
/* Active link */

/* Change header background */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .header {
    top: 0;
    /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    padding: 0.4rem 1.6rem;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    grid-template-columns: repeat(3, max-content);
  }
  .nav__menu {
    margin-left: auto;
  }
  .hide-nav {
    /* transform: translateY(calc(-1 * var(--header-height))); */
    transform: translateY(0%);
  }
}

@media screen and (min-width: 1024px) {
}
