.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 1rem auto;
  padding: 0.5rem;
  width: fit-content;
  z-index: var(--z-fixed);
  border-radius: 50vw;
  box-shadow: rgb(0 61 53 / 45%) 0px 0px 15px 0px,
    rgba(127, 139, 141, 0.1) 0px 2px 2px 0px;
  box-shadow: rgb(0 61 53 / 45%) 0px 0px 0px 1px,
    rgb(16 118 135 / 69%) 0px 0px 5px -1px;
  backdrop-filter: blur(8px);
  background-color: rgb(0 0 0 / 30%);
}

.nav {
  display: flex;
  gap: 8rem;
  height: var(--header-height);
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: 900px;
}

.nav__list {
  display: flex;
  gap: 0.5rem;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  /* border: 1px solid red; */
}

.nav__logo span {
  color: white;
  font-size: var(--fs-l);
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0px 0px 8px var(--main-color);
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: var(--fs-s);
  color: var(--title-color);
  text-transform: capitalize;
  transition: 0.1s all ease-in-out;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
}

.nav__link:hover {
  /* color: var(--main-color); */
  /* font-weight: 600; */
  background-color: rgb(5, 35, 36);
}

.nav__link svg {
  font-size: var(--fs-m);
}

.nav__link .line {
  position: absolute;
  bottom: -15%;
  opacity: 0.5;
}

.nav .active {
  color: var(--main-color);
  font-weight: 600;
}

@media (max-width: 770px) {
  .mobile-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: var(--z-tooltip);
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .mobile-header aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4rem;
    position: absolute;
    right: 0;
    inset: 0;
    height: 95%;
    left: unset;
    margin: auto;
    padding: 2rem;
    box-shadow: inset 0px 0px 9px rgba(255, 255, 255, 0.25);
    /* border-radius: 30px 0px 0px 30px; */
    background-color: rgb(25 25 25 / 70%);
    background-color: rgb(0 0 0 / 75%);
    border: 1px solid #2b2b2b;
    backdrop-filter: blur(30px);
    /* align-items: center; */
    /* max-height: 70rem; */
  }
  .mobile-header header {
    display: flex;
    justify-content: space-between;
  }
  .mobile-header header .toggle-header {
    color: white;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: #041218;
    background-image: radial-gradient(
        93% 87% at 87% 89%,
        rgba(0, 0, 0, 0.23) 0%,
        transparent 86.18%
      ),
      radial-gradient(
        66% 66% at 26% 20%,
        rgba(255, 255, 255, 0.55) 0%,
        rgba(255, 255, 255, 0) 69.79%,
        rgba(255, 255, 255, 0) 100%
      );
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
      inset 0px 3px 9px rgba(255, 255, 255, 0.3);
  }

  .mobile-header header svg {
    font-size: 2rem;
    width: fit-content;
  }
  .mobile-header .nav__list {
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
  }
  .mobile-header .nav__list .nav__link {
    font-size: 1.8rem;
    font-family: var(--font-1);
  }

  .mobile-header .nav__link {
    width: fit-content;
  }
  .mobile-header .nav__link .line {
    position: absolute;
    bottom: -20%;
    left: 0;
  }
  .mobile-header footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(160, 160, 160);
  }

  .mobile-header .social-icons {
    display: flex;
    gap: 1rem;
  }
}

.show-header,
.hide-header {
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  padding: 0.7rem;
  margin: 2rem;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  z-index: var(--z-fixed);
}
.show-header svg,
.hide-header svg {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scroll-y {
  overflow-y: hidden; /* stops vertical scroll */
  overflow-x: auto; /* keeps horizontal if needed */
  height: 100vh; /* prevent background move */
}
