/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: var(--z-tooltip);
}

.scrollup .scrollup-btn {
  padding: 1rem;
}

.scrollup .scrollup-btn svg {
  font-size: 2.5rem;
  /* color: #fff; */
}
