/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 5rem 1rem 3rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.section__title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: clamp(4rem, 4vw, 6rem);
  font-family: var(--font-2);
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.5rem;
  text-shadow: 0px 1px 10px #ffffff6c;

  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(255 255 255 / 65%) 100%
  );
  background-clip: text;
  z-index: 1;
}
.section__title-container {
  position: relative;
  padding: 1rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  text-transform: capitalize;
  max-width: 60rem;
  /* font-size: 1.7rem; */
  font-family: var(--font-7);
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__icon {
  /* margin-right: 1rem; */
  color: rgb(255 255 255);
  vertical-align: middle;
  background: radial-gradient(ellipse at top, #00f5ff7d 20%, #000000 200%);
  padding: 1rem;
  border-radius: 50%;
  width: fit-content;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0 255 200 / 64%) 0px 0px 8px;
  transform: translateY(27px);
  z-index: -1;
}

/* @media screen and (max-width: 767px) {
  .section {
    padding: 5rem 0 3rem;
  }
} */
